$link-color: black;
$background-color: #FAFAFA;
$top-menu-background-color: #FFF;
$top-menu-shadow-color: #C8C8C8;

body {
  background-color: $background-color;
  #page {
    max-width: none;
  }
  #main,
  #footer {
    max-width: 1200px;
    margin: auto;
  }
}

#header {
  position: relative;
  padding: 0;
}

img.admin-menu-icon {
  height: 16px;
  width: 16px;
}

article div.field-name-field-image {
  width: 480px;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}

#block-menu-menu-bottom-menu,
#block-menu-menu-top-menu {
  ul.menu {
    list-style-type: none;
    display: block;
    padding-left: 0px;
    li {
      list-style: none;
      display: inline;
      a {
        text-decoration: none;
        color: $link-color;
        font-weight: bold;
        font-size: 120%;
        &:before {
          content: "/ ";
        }
      }
      &:first-child a:before {
        content: "";
      }
    }
  }
}

#block-menu-menu-bottom-menu {
  text-align: center;
}

#block-menu-menu-top-menu {
  background-color: $top-menu-background-color;
  padding: 5px;
  padding-top: 6px;
  box-shadow: 0px 3px 2px $top-menu-shadow-color;
  ul.menu {
    width: 1200px;
    margin: auto;
  }
}

nav.breadcrumb {
  a {
    text-decoration: none;
    color: $link-color;
    &:before {
      content: "/ ";
    }
  }
  &:first-child a:before {
    content: "";
  }
}

#social-media {
  position: absolute;
  right: 0px;
  margin-top: 55px;
  ul {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    li {
      list-style: none;
      display: inline;
    }
  }
}

#block-search-form {
  float: right;
}

#main #navigation {
  width: 900px;
  top: -18px;
  left: 400px;
  li {
    a {
      text-decoration: none;
      color: $link-color;
      &:before {
        content: "| ";
      }
    }
    &:first-child a:before {
      content: "";
    }
  }
}

#block-block-2 {
  margin-bottom: 2em;
  div {
    width: 33.3%;
    float: left;
  }
  div:nth-child(3) {
    text-align: center;
  }
  div:nth-child(4) img {
    float: right;
  }
}
