$link-color: black;

img.admin-menu-icon {
  height: 16px;
  width: 16px;
}

#block-menu-menu-top-menu {
  ul.menu {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    li {
      list-style: none;
      display: inline;
      a {
        text-decoration: none;
        color: $link-color;
        &:before {
          content: "/ ";
        }
      }
      &:first-child a:before {
        content: "";
      }
    }
  }
}

#social-media {
  position: absolute;
  right: 0px;
  top: 50px;
  ul {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    li {
      list-style: none;
      display: inline;
    }
  }
}

#block-search-form {
  float: right;
}

#main #navigation {
  width: 900px;
  top: -18px;
  left: 400px;
  li {
    a {
      text-decoration: none;
      color: $link-color;
      &:before {
        content: "| ";
      }
    }
    &:first-child a:before {
      content: "";
    }
  }
}
