$link-color: black;

img.admin-menu-icon {
  height: 16px;
  width: 16px;
}

#block-menu-menu-bottom-menu,
#block-menu-menu-top-menu {
  ul.menu {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    li {
      list-style: none;
      display: inline;
      a {
        text-decoration: none;
        color: $link-color;
        &:before {
          content: "/ ";
        }
      }
      &:first-child a:before {
        content: "";
      }
    }
  }
}

nav.breadcrumb {
  a {
    text-decoration: none;
    color: $link-color;
    &:before {
      content: "/ ";
    }
  }
  &:first-child a:before {
    content: "";
  }
}

#block-menu-menu-bottom-menu {
  text-align: center;
}

#page #header {
  position: relative;
}

#social-media {
  position: absolute;
  right: 0px;
  margin-top: 55px;
  ul {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    li {
      list-style: none;
      display: inline;
    }
  }
}

#block-search-form {
  float: right;
}

#main #navigation {
  width: 900px;
  top: -18px;
  left: 400px;
  li {
    a {
      text-decoration: none;
      color: $link-color;
      &:before {
        content: "| ";
      }
    }
    &:first-child a:before {
      content: "";
    }
  }
}

#block-block-2 {
  margin-bottom: 2em;
  div {
    width: 33.3%;
    float: left;
  }
  div:nth-child(3) {
    text-align: center;
  }
  div:nth-child(4) img {
    float: right;
  }
}
