/*
  VVSQ colour scheme
*/
/* Light Gold */
$llakacham: #F0F078;
/* Medium Gold */
$merci-beaucoup: #F0F048;
/* Deep Gold */
$para: #F0D800;
/* Deep Brown */
$bittersweet: #483000;
/* Subdued Deep Brown */
$dark-chocolate: #604818;
/* Title orange */
$sunflower-orange: #f29200;

$black-text: #444;
$top-bar-color: #FBFBFB;

body {
  #header {
    padding: 1ex;
  }
  #logo {
    max-width: 265px;
    img {
      height: 120px;
    }
  }
  #primary-menu > ul > li {
    &:hover {
      background-color: $llakacham;
      a div, a span {
        color: $black-text;
      }
    }
    a div, a span {
      color: $bittersweet;
    }
  }
  .product-feature > span {
    background-color: $merci-beaucoup;
  }
  .pricing div.pricing-wrap {
    width: 33%;
  }
  #top-bar {
    background-color: $top-bar-color;
    //li.top-menu-em a {
    //  background-color: $dark-chocolate;
    //}
  }
  #forum-topic-list,
  #forum {
    .sticky-header,
    .forum-table {
      width: 100%;
      td {
        padding: 1ex;
      }
    }
    div.forum-pager ul.pager {
      padding-top: 0;
      margin-top: 0;
    }
  }
  #forum-comments {
    .forum-post-panel-main {
      min-height: 100px;
    }
  }
  &.node-type-forum div.content-wrap,
  &.page-forum div.content-wrap {
    padding-top: 20px;
  }
  div.forum-node-create-links {
    padding-top: 0;
  }
  #advanced-forum-forum-topic-list-sort-form {
    display: none;
  }
  div.forum-topic-legend div {
    clear: none;
  }
  #content .region-content ul {
    list-style: disc;
  }
  #uc-cart-view-form td {
    padding: 1ex;
  }
  .view-uc-catalog,
  .view-uc-catalog-terms {
    table {
      width: 100%;
      td {
        width: 30%;
        padding-right: 1em;
      }
    }
  }
  &.page-restaurants-in {
    .region-content {
      position: relative;
      min-height: 500px;
      .views-row {
        a {
          font-size: 120%;
        }
      }
    }
    #block-system-main {
      width: 50%;
    }
    #block-vvsq-restaurant-maps-vvsq-area-map {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 45%;
      margin-left: 1em;
      margin-bottom: 1em;
      #restaurants-map {
        height: 500px;
        img {
          max-width: none;
        }
      }
    }
  }
  &.page-restaurants {
    .view-restaurants {
      h3 {
        display: none;
      }
      .field-content {
        margin-left: 1em;
      }
      .views-row {
        margin-bottom: 1ex;
        a {
          font-size: 150%;
        }
      }
    }
    .region-content {
      position: relative;
      min-height: 500px;
    }
    #block-vvsq-restaurant-maps-vvsq-qld-map {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 45%;
      margin-left: 1em;
      margin-bottom: 1em;
      #restaurants-map {
        height: 500px;
        img {
          max-width: none;
        }
      }
    }
  }
  .view-events-archive,
  .view-events {
    div.entry_content {
      margin-bottom: 3em;
      div.field-name-field-start {
        margin-bottom: 1ex;
        span.date-display-start,
        span.date-display-end {
          font-weight: bold;
        }
      }
    }
  }
  &.node-type-event {
    div.content {
      div.field-name-field-start,
      div.field-name-field-location,
      div.field-name-field-cost,
      div.field-name-field-more-info {
        margin-bottom: 1em;
      }
      .field-label {
        width: 12ex;
      }
    }
  }
  &.node-type-restaurant {
    .region-content {
      position: relative;
    }
    .content {
      .field-label {
        width: 220px;
      }
    }
    #block-system-main .entry_content {
      width: 55%;
      min-height: 350px;
    }
    #block-vvsq-restaurant-maps-vvsq-restaurant-map {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 35%;
      margin-left: 1em;
      margin-bottom: 1em;
      #restaurant-map {
        height: 350px;
        img {
          max-width: none;
        }
      }
    }
    .node-restaurant {
      .comment-form .field-type-fivestar {
        margin: 1em;
      }
    }
  }
}
